
:root{
  --light-blue: #2998ff;
  --white: #ffffe6; 
  --black: #000;
  --red: #f87171;
  --yellow: #ffff26;
  --brown:#ad5a00;
  
  --h1: 6.594rem;
  --h2: 3.063rem;
  --h3: 2.25rem;
  --h5: 1.5rem;

  --primary: var(var(--white));
  --secondary: var(var(--light-blue));
}
.card:hover {
  transform: scale(1.05);
}
.card-img{
  height: 20vh;
  width: 10vh;
}

.card{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius:  5px;
  margin: 5vh;

}
.dark{
  --primary:var(--light-blue);
  --secondary:var(--red);
}

.light{
  --primary:var(--white);
  --secondary:var(--yellow);
}

.card-head{
  text-align: center;
  justify-content: space-around;
  
  height: 10vh;
  width: 30%;
}
.card-img{
  width: 30vh;
}
.container{
  background-color: var(--primary);
}
/* .jonq{
  background-color: var(--primary);
}
.backup{
  background-color: var(--secondary);
  height: 90vh;
} */

h1,h2,h3,h4,h5{
  text-align: center;
}


h1{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
h4{
  font-size: var(--h4);
}
h5{
  font-size: var(--h5);
}

.top{
  background-color: var(--primary);
  text-align: center;
  margin: 1rem;
}
.selects{
 display: flex;
}
.container{
  background-color: var(--secondary);
}

.btn,
.but{
text-transform: uppercase;
padding: 1.5rem 4 rem;
display: inline-block;
margin: 1rem auto;
font-size: 2rem;
border-radius: 10rem;
transition: all 0.2s;
}
.butn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 0.5rem #000020;
}

